.loading {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  svg {
    font-size: 2.5rem;
    animation: loading 1s ease infinite;
  }

  p {
    font-family: 2.5rem;
  }
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
