@use './variables' as *;

.menuModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.315);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;

  .container {
    position: absolute;
    background-color: $background;
    width: 30%;
    border-radius: 5px;
    margin: 10px;
    animation: flyIn 0.3s ease;

    button {
      cursor: pointer;
      outline: none;
      border: none;
      color: $text;
      background-color: transparent;
      border: 1px solid $overlay;
      transition: background-color ease 0.3s;
      transition: transform ease 0.3s;
      padding: 3px 7px;
      border-radius: 5px;

      &:hover {
        background-color: $overlay;
      }

      &:active {
        transform: scale(0.9);
      }
    }

    input {
      background-color: transparent;
      outline: none;
      border: none;
      padding: 3px 7px;
      border-radius: 5px;
      color: $text;
      border: 1px solid $overlay;
      transition: border ease 0.1s;

      &::placeholder {
        color: $overlay;
      }

      &:focus {
        border-color: $text;
      }
    }

    .head {
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $overlay;
      .title {
        font-size: 1rem;
      }

      .closeBtn {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        color: $text;
      }
    }

    .body {
      padding: 10px;
      border-bottom: 1px solid $overlay;
      display: flex;
      flex-direction: column;
      gap: 10px;

      label {
        font-weight: 600;
      }

      .formItem {
        display: flex;
        flex-direction: column;
        gap: 5px;
      }
    }

    .foot {
      padding: 10px;
      display: flex;
      justify-content: flex-end;
      gap: 7px;
    }
  }
}

@keyframes flyIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
